<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>qusetion</key>
		<string>您的年龄是：</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>18—30</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>1-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>31—50</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>1-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>51—65</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>1-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>高于65</string>
				<key>score</key>
				<string>0</string>
				<key>tagNum</key>
				<string>1-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>您目前的身体健康状况：</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>非常好</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>2-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>好</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>2-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>一般</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>2-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>差</string>
				<key>score</key>
				<string>0</string>
				<key>tagNum</key>
				<string>2-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>您的家庭可支配年收入为（折合人民币）：</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>5万元以下</string>
				<key>score</key>
				<string>0</string>
				<key>tagNum</key>
				<string>3-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>5—20万元</string>
				<key>score</key>
				<string>3</string>
				<key>tagNum</key>
				<string>3-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>20—30万元</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>3-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>30—50万元</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>3-4</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>50万元以上</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>3-5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>在您每年的家庭可支配收入中，可用于金融出借（储蓄存款除外）的比例为：</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>小于10%</string>
				<key>score</key>
				<string>3</string>
				<key>tagNum</key>
				<string>4-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>10%至25%</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>4-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>25%至50%</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>4-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>大于50%</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>4-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>您有多少年出借股票、基金、外汇、金融衍生产品等风险出借品的经验？</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>没有经验</string>
				<key>score</key>
				<string>0</string>
				<key>tagNum</key>
				<string>5-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>少于2年</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>5-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>2至5年</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>5-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>5至8年</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>5-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>以下哪项描述最符合您的出借态度？</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>厌恶风险，不希望出借金额损失，希望获得稳定回报</string>
				<key>score</key>
				<string>0</string>
				<key>tagNum</key>
				<string>6-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>保守出借，不希望出借金额损失，愿意承担一定幅度的收益波动</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>6-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>寻求资金的较高收益和成长性，愿意为此承担有限出借金额损失</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>6-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>希望赚取高回报，愿意为此承担较大出借金额损失</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>6-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>您的出借出现何种程度的波动时，您会呈现明显的焦虑？</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>出借金额无损，但收益未达预期</string>
				<key>score</key>
				<string>0</string>
				<key>tagNum</key>
				<string>7-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>出现轻微出借金额损失</string>
				<key>score</key>
				<string>3</string>
				<key>tagNum</key>
				<string>7-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>出借金额10%以内的损失</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>7-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>出借金额20%—50%的损失</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>7-4</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>出借金额50%以上损失</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>7-5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>您计划的出借期限是多久？</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>1年以下</string>
				<key>score</key>
				<string>3</string>
				<key>tagNum</key>
				<string>8-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>1至3年</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>8-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>3至5年</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>8-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>5年以上</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>8-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>您期望的出借年约定年化利率是：</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>高于同期定期存款</string>
				<key>score</key>
				<string>3</string>
				<key>tagNum</key>
				<string>9-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>5%左右，要求相对风险低</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>9-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>5%-15%，可承受中等风险</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>9-3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>15%以上，可承担较高风险</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>9-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>qusetion</key>
		<string>您的出借目的是：</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>资产保值</string>
				<key>score</key>
				<string>8</string>
				<key>tagNum</key>
				<string>10-1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>资产稳健增长</string>
				<key>score</key>
				<string>10</string>
				<key>tagNum</key>
				<string>10-2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>资产迅速增长</string>
				<key>score</key>
				<string>5</string>
				<key>tagNum</key>
				<string>10-3</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
