<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>中国农业银行</key>
	<string>ABOC</string>
	<key>中国银行</key>
	<string>BOC</string>
	<key>中国建设银行</key>
	<string>CCB</string>
	<key>中国光大银行</key>
	<string>CEB</string>
	<key>兴业银行</key>
	<string>CIB</string>
	<key>中信银行</key>
	<string>CITIC</string>
	<key>上海银行</key>
	<string>BOS</string>
	<key>渤海银行</key>
	<string>CBHB</string>
	<key>平安银行</key>
	<string>SPAN</string>
	<key>中国邮政储蓄银行</key>
	<string>PSBC</string>
	<key>浦东发展银行</key>
	<string>SPDB</string>
	<key>北京农村商业银行</key>
	<string>BJRCB</string>
	<key>交通银行</key>
	<string>COMM</string>
	<key>招商银行</key>
	<string>CMB</string>
	<key>中国工商银行</key>
	<string>ICBC</string>
	<key>深圳发展银行</key>
	<string>SDB</string>
	<key>中国民生银行</key>
	<string>CMBC</string>
	<key>富滇银行</key>
	<string>FDB</string>
	<key>上海农村商业银行</key>
	<string>SRCB</string>
	<key>广发银行</key>
	<string>GDB</string>
	<key>北京银行</key>
	<string>BJCN</string>
	<key>华夏银行</key>
	<string>HXBK</string>
</dict>
</plist>
